<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Stream Create</title>
    <link rel="stylesheet" href="/publick/vendor/bootstrap-4.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/publick/css/blog-post.css">
    <link rel="stylesheet" href="/publick/css/moder-busniess.css">
    <link rel="stylesheet" href="/publick/css/simple-sidebar.css">
    <link rel="stylesheet" href="/publick/font/fontawesome-free-5.14.0-web/css/fontawesome.min.css">
</head>
<body>

    <%
        moonts = ["January", "February", "March", "April", "May", "June", "july",   "August",    "September", "October", "November", "December"];

        baseUrl = "http://localhost:3000/";

    %>

    <script type="text/javascript">
         moonts = ["January", "February", "March", "April", "May", "June", "july",   "August",    "September", "October", "November", "December"]
         
        baseUrl = "http://localhost:3000/"
    </script>




    <nav class="navbar navbar-expand-sm navbar-dark bg-dark text-white fixed-top">
        <div class="container">
            <a href="/" class="navbar-brand">
                Video Streamin
            </a>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

                    <% if (typeof isLogin !== "undefined" && isLogin) {%>
                         <li class="nav-item ">
                        <a href="/upload" class="nav-link">
                            Upload video
                            </a>
                        </li>

                         <li class="nav-item ">
                        <a href="/logout" class="nav-link">
                            Logout
                            </a>
                        </li>

                    <%} else {%>
                         <li class="nav-item">
                        <a href="/login" class="nav-link">
                            Login
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/signup" class="nav-link">
                                Signup
                            </a>
                        </li>
                    <%}%>
                   
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="d-flex" id="wrapper">
