<%- include ("layouts/header")%>
    <div class="container">
        <div class="row  py-5 my-4">
            <div class="col-md-12">
                <h1>Login</h1>
                <% if(massage != "") {%>
                    <div class="alert alert-success">
                        <%= massage%>
                    </div>
                <%}%>
                <% if(error != "") {%>
                    <div class="alert alert-danger">
                        <%= error%>
                    </div>
                <%}%>

                <form action="/login " method="POST">
                                        
                    <div class="form-group">
                        <label for="Email">Email</label>
                        <input type="email" name="email" required class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="Password">Password</label>
                        <input type="password" name="password" required class="form-control">
                    </div>

                    <input type="submit" value="Signup" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
<%- include ("layouts/footer")%>

